:root {
  --tny-red: rgb(219, 51, 52);
  --tny-gray: rgb(102, 102, 102);
  --tny-blue: #0787CA;
  --tny-yellow: #FEEFB9;
}

* {
  padding: 0;
  margin: 0;
}
-
p {
  font-family: sans-serif;
  font-size: 16pt;
  line-height: 1.5em;
  color: rgb(0,0,0);
  margin: 10px 0px;
  padding: 2px;
}

.note {
  font-family: serif;
  font-size: 12pt;
  line-height: 1.4em;
  background-color: #feefb9;
  max-height: 250px;
  overflow-y: scroll;
  padding: 5px 2px;
}

ol li {
  list-style-position: inside;
}

img {
  height: 200px;
  width: auto;
}

.gall {
  display: flex;
  overflow: scroll;
  max-height: 300px;
  margin: 10px 2px;
  padding: 5px 2px;
  align-items: start;
  justify-content: start;
}

.cover {
  width: 100%;
  height: auto;
}

.cover img {
  width: 100%;
  height: auto;
  min-height: 150px;
  vertical-align: bottom;
}

.cover-caption {
  font-size: 9pt;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}


.illu {
  color: #feebb9;
}

.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.figure p {
  font-family: sans-serif;
  font-size: 8pt;
  margin: 2px;
}


.heading {
  text-align: center;
}

.column {
  color: rgb(219,51,52);
  font-size: 10pt;
  text-transform: uppercase;
}

.title {
  font-family: sans-serif;
  font-size:18pt;
  font-weight: 500;
  text-transform: uppercase;
}

.subtle {
  font-style: italic;
  font-family: serif;
  line-height: 1.1em;
}

.byline {
  font-size: 10pt;
  font-weight: bold;
  font-family: sans-serif;
  margin: 2px;
}

.date {
  font-family: sans-serif;
  font-size: 8pt;
  color: rgb(102,102,102);
  margin: 2px;
}

.cartoon {
  max-width: 600px;
  margin: auto;
  height: auto;
}

.cartoon-caption {
  font-family: serif;
  font-size: 14pt;
  font-style: italic;
}

.cartoon img {
  width: 100%;
  height: auto;
}
